<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>arabic.james.dictionary</string>
	<key>category</key>
	<string>Language</string>
	<key>connections</key>
	<dict>
		<key>0042A931-6914-4B19-B7D4-30C576DBBDC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>903CCEEA-C97B-4D0F-895E-B69142D0A342</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>03BA1AB3-A32F-46C6-B376-CA9FAD998AEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B114719A-7D76-429A-BF2C-C830178700E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C50B0D0-CE3C-45AE-B355-A2DFACC33937</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B12CBAAA-961C-40F7-8B75-9B19E6070CCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E914B80-9ADE-43DA-862D-FACCD35DBC9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03BA1AB3-A32F-46C6-B376-CA9FAD998AEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FC21E3C-0F05-4F1E-BD99-F24AE24D08E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D949CBED-6980-49FE-B4A4-F8012BA781AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50ECBEC2-2F23-4726-90F1-39099142C922</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5A2B28D-83E8-4707-95AD-89ECF8239D61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB6C55B8-3CC9-4C92-A22F-3897095D636B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C72DCFDC-663C-45EC-8BEA-3CEC9045CDA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>97256405-07D1-4E84-B9FA-07641A808C80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47621D89-56C7-4964-BC59-E6D729B76971</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59DB569E-D30E-4A35-9DA1-FF982C39DD12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B71CC75E-28F4-4B6B-9E48-70BC6D2406EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60E1F0C6-9409-4DC8-9402-4037E5C91D0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E13C71B4-E67E-490B-AAFC-D1F4C31330BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6368F7C6-C9B5-462B-9007-F93C8A1B61F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A6314E-EEA5-4503-9090-A4D147372B0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EF08F72-E1B5-45CC-A84D-63662474ADE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6368F7C6-C9B5-462B-9007-F93C8A1B61F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>797B6355-B637-4B3E-B155-E25BFF9FDF85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A38E8EC-1662-4F44-8DB5-E6B7B4FC86CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E84AD94-F0D9-43BE-80C3-03689422BA1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0042A931-6914-4B19-B7D4-30C576DBBDC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>903CCEEA-C97B-4D0F-895E-B69142D0A342</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>797B6355-B637-4B3E-B155-E25BFF9FDF85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>993B9303-260B-4568-8E1D-B480E23B1494</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EF08F72-E1B5-45CC-A84D-63662474ADE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A38E8EC-1662-4F44-8DB5-E6B7B4FC86CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E3A9166-9685-4588-9404-A445415F74BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E3A9166-9685-4588-9404-A445415F74BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E150F855-37A5-4D26-B2F3-73EE923CE32F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5858CB4-C061-44D2-8756-7178B3034CC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>993B9303-260B-4568-8E1D-B480E23B1494</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B114719A-7D76-429A-BF2C-C830178700E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D930358A-07AB-488C-BAFD-51E820995688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B12CBAAA-961C-40F7-8B75-9B19E6070CCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60E1F0C6-9409-4DC8-9402-4037E5C91D0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5A2B28D-83E8-4707-95AD-89ECF8239D61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E914B80-9ADE-43DA-862D-FACCD35DBC9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B71CC75E-28F4-4B6B-9E48-70BC6D2406EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5A35653-CAB8-4F0B-963D-CDD07AAB158A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5A35653-CAB8-4F0B-963D-CDD07AAB158A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C50B0D0-CE3C-45AE-B355-A2DFACC33937</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D930358A-07AB-488C-BAFD-51E820995688</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF6C2148-12FC-43DA-ABAF-A362DABDB7E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D949CBED-6980-49FE-B4A4-F8012BA781AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFB655E1-6345-4CE2-A377-B7746DBC4800</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFB655E1-6345-4CE2-A377-B7746DBC4800</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F860AAC5-445A-4238-9932-A51D4D4489F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E13C71B4-E67E-490B-AAFC-D1F4C31330BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FC21E3C-0F05-4F1E-BD99-F24AE24D08E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E150F855-37A5-4D26-B2F3-73EE923CE32F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5858CB4-C061-44D2-8756-7178B3034CC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6113F6E-C387-46AD-B19F-8D8BCD7C8AE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5A2B28D-83E8-4707-95AD-89ECF8239D61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB6C55B8-3CC9-4C92-A22F-3897095D636B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C72DCFDC-663C-45EC-8BEA-3CEC9045CDA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>97256405-07D1-4E84-B9FA-07641A808C80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47621D89-56C7-4964-BC59-E6D729B76971</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF6C2148-12FC-43DA-ABAF-A362DABDB7E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59DB569E-D30E-4A35-9DA1-FF982C39DD12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F860AAC5-445A-4238-9932-A51D4D4489F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E84AD94-F0D9-43BE-80C3-03689422BA1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>James</string>
	<key>description</key>
	<string>Search across multiple Arabic dictionaries</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Arabic Multi-Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ب</string>
				<key>replacestring</key>
				<string>b</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>03BA1AB3-A32F-46C6-B376-CA9FAD998AEC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ا</string>
				<key>replacestring</key>
				<string>a</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B5A2B28D-83E8-4707-95AD-89ECF8239D61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>آ</string>
				<key>replacestring</key>
				<string>a</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>2E914B80-9ADE-43DA-862D-FACCD35DBC9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ت</string>
				<key>replacestring</key>
				<string>t</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>CEF57E6C-E412-4DF4-B24E-885B6B18DD50</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ث</string>
				<key>replacestring</key>
				<string>th</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B114719A-7D76-429A-BF2C-C830178700E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215725</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>BB6C55B8-3CC9-4C92-A22F-3897095D636B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ج</string>
				<key>replacestring</key>
				<string>j</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D930358A-07AB-488C-BAFD-51E820995688</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ح</string>
				<key>replacestring</key>
				<string>h</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>EF6C2148-12FC-43DA-ABAF-A362DABDB7E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ara</string>
				<key>subtext</key>
				<string>English-script trigger</string>
				<key>text</key>
				<string>Arabic Multi-Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E6113F6E-C387-46AD-B19F-8D8BCD7C8AE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>خ</string>
				<key>replacestring</key>
				<string>X</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>59DB569E-D30E-4A35-9DA1-FF982C39DD12</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>د</string>
				<key>replacestring</key>
				<string>d</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B71CC75E-28F4-4B6B-9E48-70BC6D2406EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ذ</string>
				<key>replacestring</key>
				<string>*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D5A35653-CAB8-4F0B-963D-CDD07AAB158A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ر</string>
				<key>replacestring</key>
				<string>r</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>0C50B0D0-CE3C-45AE-B355-A2DFACC33937</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://translate.google.com/?hl=en&amp;tab=TT#view=home&amp;op=translate&amp;sl=ar&amp;tl=en&amp;text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C72DCFDC-663C-45EC-8BEA-3CEC9045CDA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ز</string>
				<key>replacestring</key>
				<string>z</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B12CBAAA-961C-40F7-8B75-9B19E6070CCD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>س</string>
				<key>replacestring</key>
				<string>s</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>60E1F0C6-9409-4DC8-9402-4037E5C91D0E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ش</string>
				<key>replacestring</key>
				<string>$</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E13C71B4-E67E-490B-AAFC-D1F4C31330BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ظ</string>
				<key>replacestring</key>
				<string>Z</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F860AAC5-445A-4238-9932-A51D4D4489F3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ص</string>
				<key>replacestring</key>
				<string>S</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>3FC21E3C-0F05-4F1E-BD99-F24AE24D08E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ض</string>
				<key>replacestring</key>
				<string>D</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D949CBED-6980-49FE-B4A4-F8012BA781AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ط</string>
				<key>replacestring</key>
				<string>T</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DFB655E1-6345-4CE2-A377-B7746DBC4800</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sunnah.com/search/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>97256405-07D1-4E84-B9FA-07641A808C80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ع</string>
				<key>replacestring</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8E84AD94-F0D9-43BE-80C3-03689422BA1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>غ</string>
				<key>replacestring</key>
				<string>G</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>0042A931-6914-4B19-B7D4-30C576DBBDC8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ف</string>
				<key>replacestring</key>
				<string>f</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>903CCEEA-C97B-4D0F-895E-B69142D0A342</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>عربی</string>
				<key>subtext</key>
				<string>Arabic-script trigger</string>
				<key>text</key>
				<string>Arabic Multi-Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>50ECBEC2-2F23-4726-90F1-39099142C922</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ك</string>
				<key>replacestring</key>
				<string>k</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9A38E8EC-1662-4F44-8DB5-E6B7B4FC86CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ق</string>
				<key>replacestring</key>
				<string>q</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>797B6355-B637-4B3E-B155-E25BFF9FDF85</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ل</string>
				<key>replacestring</key>
				<string>l</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9E3A9166-9685-4588-9404-A445415F74BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ك</string>
				<key>replacestring</key>
				<string>k</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E150F855-37A5-4D26-B2F3-73EE923CE32F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ن</string>
				<key>replacestring</key>
				<string>n</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>A5858CB4-C061-44D2-8756-7178B3034CC0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>و</string>
				<key>replacestring</key>
				<string>w</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>6368F7C6-C9B5-462B-9007-F93C8A1B61F7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ه</string>
				<key>replacestring</key>
				<string>h</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>993B9303-260B-4568-8E1D-B480E23B1494</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ي</string>
				<key>replacestring</key>
				<string>y</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>6EF08F72-E1B5-45CC-A84D-63662474ADE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://context.reverso.net/translation/arabic-english/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>47621D89-56C7-4964-BC59-E6D729B76971</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://ejtaal.net/aa#q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>79A6314E-EEA5-4503-9090-A4D147372B0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0042A931-6914-4B19-B7D4-30C576DBBDC8</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>03BA1AB3-A32F-46C6-B376-CA9FAD998AEC</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>0C50B0D0-CE3C-45AE-B355-A2DFACC33937</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>2E914B80-9ADE-43DA-862D-FACCD35DBC9A</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>3FC21E3C-0F05-4F1E-BD99-F24AE24D08E1</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>47621D89-56C7-4964-BC59-E6D729B76971</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>50ECBEC2-2F23-4726-90F1-39099142C922</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>59DB569E-D30E-4A35-9DA1-FF982C39DD12</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>60E1F0C6-9409-4DC8-9402-4037E5C91D0E</key>
		<dict>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>6368F7C6-C9B5-462B-9007-F93C8A1B61F7</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>6EF08F72-E1B5-45CC-A84D-63662474ADE9</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>797B6355-B637-4B3E-B155-E25BFF9FDF85</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>79A6314E-EEA5-4503-9090-A4D147372B0E</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>8E84AD94-F0D9-43BE-80C3-03689422BA1B</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>903CCEEA-C97B-4D0F-895E-B69142D0A342</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>97256405-07D1-4E84-B9FA-07641A808C80</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>993B9303-260B-4568-8E1D-B480E23B1494</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>9A38E8EC-1662-4F44-8DB5-E6B7B4FC86CB</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>9E3A9166-9685-4588-9404-A445415F74BC</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>A5858CB4-C061-44D2-8756-7178B3034CC0</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>B114719A-7D76-429A-BF2C-C830178700E5</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>B12CBAAA-961C-40F7-8B75-9B19E6070CCD</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>B5A2B28D-83E8-4707-95AD-89ECF8239D61</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B71CC75E-28F4-4B6B-9E48-70BC6D2406EA</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>BB6C55B8-3CC9-4C92-A22F-3897095D636B</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>C72DCFDC-663C-45EC-8BEA-3CEC9045CDA7</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>CEF57E6C-E412-4DF4-B24E-885B6B18DD50</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>D5A35653-CAB8-4F0B-963D-CDD07AAB158A</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>D930358A-07AB-488C-BAFD-51E820995688</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>D949CBED-6980-49FE-B4A4-F8012BA781AF</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>DFB655E1-6345-4CE2-A377-B7746DBC4800</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>E13C71B4-E67E-490B-AAFC-D1F4C31330BF</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>E150F855-37A5-4D26-B2F3-73EE923CE32F</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>E6113F6E-C387-46AD-B19F-8D8BCD7C8AE5</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>EF6C2148-12FC-43DA-ABAF-A362DABDB7E6</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>F860AAC5-445A-4238-9932-A51D4D4489F3</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
