# Aliases called by either Zsh or Bash dotfiles

# Load files in Atom from command line more quickly:
alias a="atom"


# Git
## Git add all, then commit
alias gac="git add -A && git commit"



# Directory Jumps
## Switch to projects
alias proj="$HOME/Projects"
