# Aliases called by either Zsh or Bash dotfiles

# Load files in Atom from command line more quickly:
alias a="atom"

# Touch / Open
# New secondary note
alias nsn="bash ~/Projects/dot_files/new_note.sh"
alias nser="bash ~/Projects/dot_files/new_doc_note.sh"


# Git
## Git add all, then commit
alias gac="git add -A && git commit -m"

alias pull_dir="proj && bash ./dot_files/git_pull_all_dirs.sh"
alias mgs="proj && bash ./multi-git-status/mgitstatus"

alias fgit="git add -A && git commit -m 'failsafe: adding and committing all' && git push"

# Command Shortcuts
## list with more information
alias lst="ls -lsat"

# Variables for Common Paths
BOX=$HOME/Box
PROJ=$HOME/Projects
TEACH=$HOME/Box/Teaching
NOTES=$HOME/Box/Notes
INBOX=$HOME/Box/Inbox
KITOB=$HOME/Box/Kitob-khona/

# Directory Jumps
## Switch to projects
alias proj="$PROJ"
alias teach="$TEACH"
alias notes="$NOTES"
alias dot="cd $PROJ/dot_files"
alias box="$BOX"


# Processes
## Login to server
alias bact="ssh root@bactriana.org"


# Manually update Alfred settings
# currently doesn't work; creates some __MACOSX folder
#alias alf-up="rm -r $PROJ/Sync/Alfred.alfredpreferences && cp $NOTES/Digital_Humanities/Alfred.alfredpreferences.zip $PROJ/Sync && unzip $PROJ/Sync/Alfred.alfredpreferences.zip"


## Workflow: parse everything in markdown folder
alias md_parse="python3 ~/Projects/xml_development_eurasia/markdown_parser/markdown_parser_3.0.py"

## Open most recently downloaded item
### The bits between parentheses are glob qualifiers:
#### om changes the order on globs to use the modification time rather than the name (newest first).
#### [1] means to use only the first match.
alias firstin="open $INBOX/*(om[1])"
alias inpdf="open $INBOX/*.pdf(om[1])"


# Quick App Opens

alias dige="open $NOTES/Digital_Humanities/database_digital_eurasia_6.1.fmp12"
alias pahdic="open $NOTES/Digital_Humanities/pahlavi_dictionary.fmp12"

alias jyp="jupyter notebook --notebook-dir='$PROJ/jupyter_notebooks'"

alias corpus="jupyter notebook --notebook-dir='$PROJ/eurasia_corpus_tool'"

alias fuz="cd $PROJ/fuzzy && python3 server.py --tag "@" --sep --path $PROJ/dot_files/fuzzy_files"
