<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>158CD771-9597-4332-BFCB-582B6373D1D6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ده</string>
			<key>text</key>
			<string>Dehkhoda</string>
			<key>url</key>
			<string>https://www.vajehyab.com/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
