<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>turkic.search</string>
	<key>category</key>
	<string>Language</string>
	<key>connections</key>
	<dict>
		<key>08B5128D-9C01-4A2A-877F-9B0D21F05AC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63CC8172-4FD6-4816-9C47-8C90AB22C4AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D196707-C7CA-43FD-A240-961AE55E8BF2</key>
		<array/>
		<key>0EA3132A-ADF5-4F98-BC03-50DBF595BE1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D3EFC68-5FC5-4EE7-A6AB-7117D9BDF63D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0FAC37CE-9647-4DB9-9548-DA9AE57AA81C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF49E867-EA9C-4EE7-977C-9A6EB35BB48F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13462309-DC41-470A-A6B6-D38E47490AA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69859AE4-426F-4960-8A9F-6453D74F638D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13A42E12-956E-4275-92C5-546813BA7BBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4312D14A-C74A-422C-9391-B25466CF997E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18F64A17-EE9C-40BD-ABE2-750E93AA8AA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D6D445A-E7F4-4F74-8C43-5051CF3AB413</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>196C3C8F-E0A9-4DEF-9D95-395A95EFCE9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB84C6D3-3F67-4E1F-9F51-92CE651D4957</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>270215D9-FF5C-4935-8205-73FD336D39A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADCCDCC6-E368-4FD6-AE1F-0B0C5E21628E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D1EE1FB-FDEA-4036-9F53-B1596C890F6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9037390-CED2-4798-95DC-CD9BA47A2641</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33728701-A211-48E8-8FD0-22F0F7CCBDFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AF5269A-0854-4753-AAEE-429D5A4253D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D6D445A-E7F4-4F74-8C43-5051CF3AB413</key>
		<array/>
		<key>4312D14A-C74A-422C-9391-B25466CF997E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F9FEFCC-B515-46E5-A5B1-6B6E185F1A3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F9FEFCC-B515-46E5-A5B1-6B6E185F1A3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83CED6DD-FE0E-451F-ABAB-5442328BA588</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63CC8172-4FD6-4816-9C47-8C90AB22C4AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EA3132A-ADF5-4F98-BC03-50DBF595BE1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69859AE4-426F-4960-8A9F-6453D74F638D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA650951-77D8-43D4-80F7-1DD369A3E4CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AB3ABDD-64B4-4BF8-85E6-312A334838A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33728701-A211-48E8-8FD0-22F0F7CCBDFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8114BCF9-2E5E-4647-A772-736A3F72EC08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8C07798-3031-4370-8A8D-7EA54C5A7497</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83CED6DD-FE0E-451F-ABAB-5442328BA588</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB9E90ED-26EC-456A-AD35-DE5F0724750B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AF5269A-0854-4753-AAEE-429D5A4253D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>916C7D11-C9A3-448A-8284-2B5E9C801761</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D3EFC68-5FC5-4EE7-A6AB-7117D9BDF63D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B90380B6-3644-4ADC-B57E-5C3EDE17F8D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E60CB65-449D-4490-BA95-94CBF78C6A22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>270215D9-FF5C-4935-8205-73FD336D39A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB84C6D3-3F67-4E1F-9F51-92CE651D4957</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>916C7D11-C9A3-448A-8284-2B5E9C801761</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13A42E12-956E-4275-92C5-546813BA7BBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADCCDCC6-E368-4FD6-AE1F-0B0C5E21628E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08B5128D-9C01-4A2A-877F-9B0D21F05AC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B90380B6-3644-4ADC-B57E-5C3EDE17F8D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F48BCAB8-99BB-4227-9C42-B347906C1F49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C23C52DE-7DBF-4E0B-81CC-7748947A125D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D1EE1FB-FDEA-4036-9F53-B1596C890F6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8C07798-3031-4370-8A8D-7EA54C5A7497</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13462309-DC41-470A-A6B6-D38E47490AA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA650951-77D8-43D4-80F7-1DD369A3E4CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18F64A17-EE9C-40BD-ABE2-750E93AA8AA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9037390-CED2-4798-95DC-CD9BA47A2641</key>
		<array/>
		<key>DB9E90ED-26EC-456A-AD35-DE5F0724750B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>196C3C8F-E0A9-4DEF-9D95-395A95EFCE9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB84C6D3-3F67-4E1F-9F51-92CE651D4957</key>
		<array/>
		<key>F48BCAB8-99BB-4227-9C42-B347906C1F49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C23C52DE-7DBF-4E0B-81CC-7748947A125D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>James</string>
	<key>description</key>
	<string>Uzbek, Uyghur, Chaghatay search tools</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Turkic Multi-Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>8114BCF9-2E5E-4647-A772-736A3F72EC08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ch</string>
				<key>replacestring</key>
				<string>ч</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>13462309-DC41-470A-A6B6-D38E47490AA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>sh</string>
				<key>replacestring</key>
				<string>ш</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C8C07798-3031-4370-8A8D-7EA54C5A7497</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>k</string>
				<key>replacestring</key>
				<string>к</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>0EA3132A-ADF5-4F98-BC03-50DBF595BE1C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>t</string>
				<key>replacestring</key>
				<string>т</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8D3EFC68-5FC5-4EE7-A6AB-7117D9BDF63D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uzb</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Uzbek translation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0FAC37CE-9647-4DB9-9548-DA9AE57AA81C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>b</string>
				<key>replacestring</key>
				<string>б</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>33728701-A211-48E8-8FD0-22F0F7CCBDFD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>l</string>
				<key>replacestring</key>
				<string>л</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>63CC8172-4FD6-4816-9C47-8C90AB22C4AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>g'</string>
				<key>replacestring</key>
				<string>ғ</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>69859AE4-426F-4960-8A9F-6453D74F638D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>о'</string>
				<key>replacestring</key>
				<string>ў</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>CA650951-77D8-43D4-80F7-1DD369A3E4CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>u</string>
				<key>replacestring</key>
				<string>у</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B90380B6-3644-4ADC-B57E-5C3EDE17F8D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>d</string>
				<key>replacestring</key>
				<string>д</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8AF5269A-0854-4753-AAEE-429D5A4253D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>m</string>
				<key>replacestring</key>
				<string>м</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>08B5128D-9C01-4A2A-877F-9B0D21F05AC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>v</string>
				<key>replacestring</key>
				<string>в</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F48BCAB8-99BB-4227-9C42-B347906C1F49</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>q</string>
				<key>replacestring</key>
				<string>қ</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>18F64A17-EE9C-40BD-ABE2-750E93AA8AA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cyruz</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Convert Uzbek Latin to Uzbek Cyrillic scrypt</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D196707-C7CA-43FD-A240-961AE55E8BF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>a</string>
				<key>replacestring</key>
				<string>а</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7AB3ABDD-64B4-4BF8-85E6-312A334838A5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>x</string>
				<key>replacestring</key>
				<string>х</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C23C52DE-7DBF-4E0B-81CC-7748947A125D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>n</string>
				<key>replacestring</key>
				<string>н</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>ADCCDCC6-E368-4FD6-AE1F-0B0C5E21628E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>a</string>
				<key>replacestring</key>
				<string>e</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>916C7D11-C9A3-448A-8284-2B5E9C801761</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>y</string>
				<key>replacestring</key>
				<string>й</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>2D1EE1FB-FDEA-4036-9F53-B1596C890F6A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>o</string>
				<key>replacestring</key>
				<string>о</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>270215D9-FF5C-4935-8205-73FD336D39A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>s</string>
				<key>replacestring</key>
				<string>с</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D9037390-CED2-4798-95DC-CD9BA47A2641</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>f</string>
				<key>replacestring</key>
				<string>ф</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>13A42E12-956E-4275-92C5-546813BA7BBD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>p</string>
				<key>replacestring</key>
				<string>п</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8E60CB65-449D-4490-BA95-94CBF78C6A22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3D6D445A-E7F4-4F74-8C43-5051CF3AB413</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>g</string>
				<key>replacestring</key>
				<string>г</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>4312D14A-C74A-422C-9391-B25466CF997E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>h</string>
				<key>replacestring</key>
				<string>ҳ</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5F9FEFCC-B515-46E5-A5B1-6B6E185F1A3C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>r</string>
				<key>replacestring</key>
				<string>р</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>EB84C6D3-3F67-4E1F-9F51-92CE651D4957</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>i</string>
				<key>replacestring</key>
				<string>и</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>83CED6DD-FE0E-451F-ABAB-5442328BA588</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://translate.google.com/#view=home&amp;op=translate&amp;sl=uz&amp;tl=en&amp;text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AF49E867-EA9C-4EE7-977C-9A6EB35BB48F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>s</string>
				<key>replacestring</key>
				<string>с</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>196C3C8F-E0A9-4DEF-9D95-395A95EFCE9F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>j</string>
				<key>replacestring</key>
				<string>ж</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DB9E90ED-26EC-456A-AD35-DE5F0724750B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08B5128D-9C01-4A2A-877F-9B0D21F05AC2</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>0D196707-C7CA-43FD-A240-961AE55E8BF2</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>0EA3132A-ADF5-4F98-BC03-50DBF595BE1C</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>0FAC37CE-9647-4DB9-9548-DA9AE57AA81C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>13462309-DC41-470A-A6B6-D38E47490AA5</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>13A42E12-956E-4275-92C5-546813BA7BBD</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>18F64A17-EE9C-40BD-ABE2-750E93AA8AA0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>196C3C8F-E0A9-4DEF-9D95-395A95EFCE9F</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>270215D9-FF5C-4935-8205-73FD336D39A4</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>2D1EE1FB-FDEA-4036-9F53-B1596C890F6A</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>33728701-A211-48E8-8FD0-22F0F7CCBDFD</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>3D6D445A-E7F4-4F74-8C43-5051CF3AB413</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>4312D14A-C74A-422C-9391-B25466CF997E</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>5F9FEFCC-B515-46E5-A5B1-6B6E185F1A3C</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>63CC8172-4FD6-4816-9C47-8C90AB22C4AB</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>69859AE4-426F-4960-8A9F-6453D74F638D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>7AB3ABDD-64B4-4BF8-85E6-312A334838A5</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>8114BCF9-2E5E-4647-A772-736A3F72EC08</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>83CED6DD-FE0E-451F-ABAB-5442328BA588</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>8AF5269A-0854-4753-AAEE-429D5A4253D8</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>8D3EFC68-5FC5-4EE7-A6AB-7117D9BDF63D</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>8E60CB65-449D-4490-BA95-94CBF78C6A22</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>916C7D11-C9A3-448A-8284-2B5E9C801761</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>ADCCDCC6-E368-4FD6-AE1F-0B0C5E21628E</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>AF49E867-EA9C-4EE7-977C-9A6EB35BB48F</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>B90380B6-3644-4ADC-B57E-5C3EDE17F8D7</key>
		<dict>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>C23C52DE-7DBF-4E0B-81CC-7748947A125D</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>C8C07798-3031-4370-8A8D-7EA54C5A7497</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>CA650951-77D8-43D4-80F7-1DD369A3E4CC</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>D9037390-CED2-4798-95DC-CD9BA47A2641</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>DB9E90ED-26EC-456A-AD35-DE5F0724750B</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>EB84C6D3-3F67-4E1F-9F51-92CE651D4957</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>F48BCAB8-99BB-4227-9C42-B347906C1F49</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
