<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>james.pittcat</string>
	<key>category</key>
	<string>Academic</string>
	<key>connections</key>
	<dict>
		<key>1014D102-60BE-4D28-9A00-237D819725D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2A2696B-1BD2-4939-B70A-9A59825085C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14B03805-A35E-4B11-9FF8-CBD6CAF38D13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E65A52D-16BC-446E-8752-505287795207</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CCE4480-C84D-439A-8ACA-11E8802A0611</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F21EFDC3-C9AC-43B7-B837-22B47F537DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68ECEFF4-170D-45D6-970A-EC3BBDAA2216</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0428129D-DD89-4C3C-8909-0DE296C197CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8B8E4365-4C4C-4D60-A914-B021D5594CDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>806615F1-7B62-4ACD-9C98-EE6AEA1D8C9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBC87892-28F6-4354-825D-DD79BB127ACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE524FBA-B47B-49F4-A45D-91A884065D66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBC87892-28F6-4354-825D-DD79BB127ACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D943A106-495F-422D-B8E5-880452EC52F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E65A52D-16BC-446E-8752-505287795207</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2A2696B-1BD2-4939-B70A-9A59825085C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F21EFDC3-C9AC-43B7-B837-22B47F537DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBC87892-28F6-4354-825D-DD79BB127ACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4907900A-2530-4D91-830C-71592D726876</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>533124A1-7CD5-4C1C-8BBD-D1E38CCEBD5F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>go to EZborrow login</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBCB315F-879D-4112-8270-DE17A8BCEFBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EACA151-CD64-401D-8265-D2760B3A8CF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B6A92A6A-0BF8-4B09-B3C5-5057E10D9C54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AF85A882-5840-4094-9307-B622088B549F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBC87892-28F6-4354-825D-DD79BB127ACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>James</string>
	<key>description</key>
	<string>Search most relevant catalogs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Library Multi-Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>https://pitt.summon.serialssolutions.com/search?s.q=yunus#!/search?ho=t&amp;l=en&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7E65A52D-16BC-446E-8752-505287795207</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>https://pitt.summon.serialssolutions.com/search?s.q={query}#!/search?ho=t&amp;l=en&amp;q=(AuthorCombined:({query}))</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5EACA151-CD64-401D-8265-D2760B3A8CF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>https://pitt.summon.serialssolutions.com/#!/search?ho=t&amp;l=en&amp;q=(TitleCombined:({query}))</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0428129D-DD89-4C3C-8909-0DE296C197CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>libb</string>
				<key>subtext</key>
				<string>Basic library search</string>
				<key>text</key>
				<string>Library Multi-Search (General)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D943A106-495F-422D-B8E5-880452EC52F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.worldcat.org/search?q=au%3A{query}&amp;qt=advanced&amp;dblist=638#x0%253Abook-%2C%2528x0%253Abook%2Bx4%253Aprintbook%2529%2C%2528x0%253Abook%2Bx4%253Adigital%2529%2C%2528x0%253Abook%2Bx4%253Amic%2529%2C%2528x0%253Abook%2Bx4%253Athsis%2529%2C%2528x0%253Abook%2Bx4%253Alargeprint%2529%2C%2528x0%253Abook%2Bx4%253Abraille%2529%2Cx0%253Aartchap-%2C%2528x0%253Aartchap%2Bx4%253Achptr%2529%2C%2528x0%253Aartchap%2Bx4%253Adigital%2529format</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B6A92A6A-0BF8-4B09-B3C5-5057E10D9C54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.worldcat.org/search?qt=worldcat_org_all&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D2A2696B-1BD2-4939-B70A-9A59825085C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.worldcat.org/search?q=ti%3A{query}&amp;fq=-mt%3Afic&amp;qt=advanced&amp;dblist=638</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8B8E4365-4C4C-4D60-A914-B021D5594CDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>liba</string>
				<key>subtext</key>
				<string>Multi-search of author specifically</string>
				<key>text</key>
				<string>Library Author</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DBCB315F-879D-4112-8270-DE17A8BCEFBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.jstor.org/action/doBasicSearch?Query={query}&amp;acc=off&amp;wc=on&amp;fc=off&amp;group=none</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F21EFDC3-C9AC-43B7-B837-22B47F537DC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.jstor.org/action/doAdvancedSearch?q0={query}&amp;f0=au&amp;c1=AND&amp;q1=&amp;f1=all&amp;c2=AND&amp;q2=&amp;f2=all&amp;c3=AND&amp;q3=&amp;f3=all&amp;c4=AND&amp;q4=&amp;f4=all&amp;c5=AND&amp;q5=&amp;f5=all&amp;c6=AND&amp;q6=&amp;f6=all&amp;acc=off&amp;la=&amp;sd=&amp;ed=&amp;pt=&amp;isbn=&amp;group=none</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AF85A882-5840-4094-9307-B622088B549F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.jstor.org/action/doAdvancedSearch?q0={query}&amp;f0=ti&amp;c1=AND&amp;q1=&amp;f1=all&amp;c2=AND&amp;q2=&amp;f2=all&amp;c3=AND&amp;q3=&amp;f3=all&amp;c4=AND&amp;q4=&amp;f4=all&amp;c5=AND&amp;q5=&amp;f5=all&amp;c6=AND&amp;q6=&amp;f6=all&amp;acc=off&amp;la=&amp;sd=&amp;ed=&amp;pt=&amp;isbn=&amp;group=none</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>806615F1-7B62-4ACD-9C98-EE6AEA1D8C9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>libt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Library multi-search by title</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68ECEFF4-170D-45D6-970A-EC3BBDAA2216</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://b-ok.cc/s/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DBC87892-28F6-4354-825D-DD79BB127ACB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.academia.edu/people/search?utf8=%E2%9C%93&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4907900A-2530-4D91-830C-71592D726876</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jstor</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>JSTOR</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2CCE4480-C84D-439A-8ACA-11E8802A0611</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ezb.relaisd2d.com/?LS=PITT</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>533124A1-7CD5-4C1C-8BBD-D1E38CCEBD5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>catp</string>
				<key>subtext</key>
				<string>Search only in PittCat</string>
				<key>text</key>
				<string>PittCat</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>14B03805-A35E-4B11-9FF8-CBD6CAF38D13</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wrld</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>WorldCat</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1014D102-60BE-4D28-9A00-237D819725D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>libgen</string>
				<key>subtext</key>
				<string>Free books</string>
				<key>text</key>
				<string>Libgen</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE524FBA-B47B-49F4-A45D-91A884065D66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0428129D-DD89-4C3C-8909-0DE296C197CC</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>1014D102-60BE-4D28-9A00-237D819725D5</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>14B03805-A35E-4B11-9FF8-CBD6CAF38D13</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>2CCE4480-C84D-439A-8ACA-11E8802A0611</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>4907900A-2530-4D91-830C-71592D726876</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>533124A1-7CD5-4C1C-8BBD-D1E38CCEBD5F</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>5EACA151-CD64-401D-8265-D2760B3A8CF7</key>
		<dict>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>68ECEFF4-170D-45D6-970A-EC3BBDAA2216</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>7E65A52D-16BC-446E-8752-505287795207</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>806615F1-7B62-4ACD-9C98-EE6AEA1D8C9B</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>8B8E4365-4C4C-4D60-A914-B021D5594CDF</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>AF85A882-5840-4094-9307-B622088B549F</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>B6A92A6A-0BF8-4B09-B3C5-5057E10D9C54</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>BE524FBA-B47B-49F4-A45D-91A884065D66</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>D2A2696B-1BD2-4939-B70A-9A59825085C5</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>D943A106-495F-422D-B8E5-880452EC52F1</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>DBC87892-28F6-4354-825D-DD79BB127ACB</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>DBCB315F-879D-4112-8270-DE17A8BCEFBA</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>F21EFDC3-C9AC-43B7-B837-22B47F537DC9</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
